/*Offers container*/
.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 30px; */
    padding-top: 0px 30px 30px 30px;
    position: relative;
    /* margin-top: 20px; */
    margin-top: 10px;
}

.offer-box {
    width: 20%;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    border: 3px solid #5eaed3;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}


.offer-box:hover {
    transform: translateY(-20px);
}

.order-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5eaed3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}